<agm-map [latitude]='lat' [longitude]='lng'>
  <agm-marker *ngFor="let place of places" [latitude]='place.lat' [longitude]='place.lng'></agm-marker>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Places</h2>
      <a class="btn btn-primary" [routerLink]="['/create/new']" routerLinkActive="router-link-active">Create new
        store</a>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <!-- <li class="list-group-item" *ngIf="place.active">{{place.name}}</li> -->
          <li class="list-group-item">
              <a routerLink="/create/{{place.id}}">
                {{place.name}}
              </a>
              <br />
              <small>Creado: {{place.id | date:'medium'}}</small>
              <br />
              <small>Description: {{place.description}}</small>
            </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-4" [@Container]='state'>
      <h2>Destacados</h2>
      <ng-container *ngFor="let place of places">
        <!-- <li class="list-group-item" *ngIf="place.active">{{place.name}}</li> -->
        <div class="bg-warning padding" *ngIf="place.plan == 'Payroll'">
            <a routerLink="/create/{{place.id}}">
              {{place.name}}
            </a>
            <br />
            <small>Description: {{place.description}}</small>
          </div>
      </ng-container>
    </div>
  </div>
</div>
