<div class="text-white bg-dark">
  <a routerLink="/places">Places</a> / Create place
</div>
<div class="container">
  <br />
  <label for="name">Name:</label>
  <input type="text" class="form-control" [(ngModel)]="place.name" name="name" />
  <br />
  <label for="email">Distance:</label>
  <input type="number" class="form-control" name="distance" id="distance" [(ngModel)]="place.distance" />
  <br />
  <label for="email">Closeness:</label>
  <input type="number" class="form-control" name="closeness" id="closeness" [(ngModel)]="place.closeness" />
  <br />
  <label for="email">Description:</label>
  <textarea name="description" class="form-control" id="description" cols="30" rows="10" [(ngModel)]="place.description"></textarea>
  <br />
  <label for="name">Plan:</label>
  <input type="text" class="form-control" name="plan" id="plan" [(ngModel)]="place.plan" />
  <br />
  <h3>Coordenates</h3>
  <label for="name">Address:</label>
  <input type="text" class="form-control" name="address" id="address" [(ngModel)]="place.address" />
  <br />
  <label for="name">City:</label>
  <input type="text" class="form-control" name="city" id="city" [(ngModel)]="place.city" />
  <br />
  <label for="name">Country:</label>
  <input type="text" class="form-control" name="country" id="country" [(ngModel)]="place.country" />
  <br />
  <hr />
  <a class="btn btn-primary" (click)="savePlace()">Send</a>
  <a class="btn btn-outline-secondary" [routerLink]="['/places']">Cancel</a>
</div>
